{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<title>LibreUAQ{% block title %} {% endblock %}</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'css/blogsite.css' %}">

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	
	{% endblock %}
</head>

<body>
	<header>
		<a href="{% url "post_new" %}" class="new-post"><span class="glyphicon glyphicon-plus plusplus"></span></a>
		<h1 class="title"><a href="/">LibreUAQ</a></h1>
	</header>
	<aside class="col-md-12">
		{% block buscador %}	
		{% endblock buscador %}
	</aside>
	<div class="col-md-1 col-sm-1 hidden-xs"><img></div>
	<section class="posts">
		<section class="col-md-10 col-sm-10 col-xs-12">
			{% block content %}
			{% endblock %}
		</section>
	</section>

	{% block end %}
	{% endblock end %}
</body>
</html>