{% extends "blogsite/base.html" %}

{% block title %}
	| {{ tag }}
{% endblock %}

{% block buscador %}
	<form id="live-search" action="" class="center" method="post" onsubmit="return false;">
		{% csrf_token %}
		<fieldset>
			<input type="text" class="buscador-interno" id="filter" value="" placeholder="Buscar post">
		</fieldset>
	</form>
{% endblock buscador %}

{% block content %}
	<h2 class="tag-title">&lt;{{ tag }}&gt;</h2>
	{% for post in posts %}
		<article class="individual-post">
			<p class="date">{{ post.published_date|date:"d/M/Y" }}</p>
			<h2 class="post-title"><a href="{% url "post_detail" pk=post.pk %}">{{ post.title }}</a></h2>
			<p class="text">{{ post.text|truncatechars:300 }}
				<span><a href="{% url "post_detail" pk=post.pk %}" class="read-more">Leer más</a></span>
			</p>
		</article>
	{% endfor %}
{% endblock %}

{% block end %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){

			$("#filter").submit(function(e) {
				if ($("#filter").val()) {
					e.preventDefault();
					}
				});

			$("#filter").keyup(function(){

				// Retrieve the input field text and reset the count to zero
				var filter = $(this).val();

				// Loop through the list
				$(".post-title").each(function(){

					// If the list item does not contain the text phrase fade it out
					if ($(this).text().search(new RegExp(filter, "i")) < 0) {
						$(this).parent().fadeOut();
					}

					// Show the list item if the phrase matches and increase the count by 1
					else {
						$(this).parent().show();
					}
				});
			});
		});
	</script>
{% endblock end %}