{% extends "blogsite/base.html" %}

{% block head %}
	{{ block.super }}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$(".read-more").click(function(){
			$(this).closest("article").find("h2:first").find("a").trigger("click");
		});
	});
	</script>
{% endblock %}

{% block content %}
	{% for post in posts %}
		<article class="col-md-10 col-md-push-1 col-sm-10 col-sm-push-1 col-xs-12 individual-post">
			<p class="date">{{ post.published_date }}</p>
			<h2 class="post-title"><a href="{% url "post_detail" pk=post.pk %}">{{ post.title }}</a></h2>
			<p class="text">{{ post.text|truncatechars:255 }}
			<span class="read-more">Leer más</span>
			</p>
		</article>
	{% endfor %}
{% endblock %}