{% extends "blogsite/base.html" %}

{% block title %}
	| {{ post.pk }}
{% endblock %}

{% block content %}
	<!-- POST -->
	<article class="col-md-10 col-md-push-1 col-sm-10 col-sm-push-1 col-xs-12 esp-abajo">
		{% if user.is_authenticated %}
			{% if user.is_staff %}
				<a href="{% url "post_remove" pk=post.pk %}" class="btn btn-default edit remove"><span class="glyphicon glyphicon-remove"></span></a>				
			{% endif %}
			<a href="{% url "post_edit" pk=post.pk %}" class="btn btn-default edit"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
		{% if post.published_date %}
			<p class="date">{{ post.published_date|date:"d/M/Y" }}</p>
		{% endif %}
		<h2 class="post-title">{{ post.title }}</h2>
		<p class="text txt-detail">{{ post.text|linebreaks }}</p>
		
		{% if post.docfile %}
			<br><b>Archivo:</b><a href="../../{{ post.docfile.url }}" class="tag"> {{ post.docfile|capfirst }} </a>|<a class="author" href="../../{{ post.docfile.url }}" download> DESCARGA</a>
		{% endif %}
	</article>

	<!-- COMMENTS -->
	<section class="col-md-10 col-md-push-1 col-sm-10 col-sm-push-1 col-xs-12">
		<hr>
		<div class="center"><a class="comentar" href="{% url "add_comment_to_post" pk=post.pk %}">Agrega comentario</a></div>
		{% for comment in post.comments.all %}
			<div class="comment">
				<div class="date">{{ comment.created_date|date:"d/M/Y" }}</div>
				<strong>{{ comment.author }}</strong>
				<p>{{ comment.text|linebreaks }}</p>
			</div>
		{% empty %}
			<br>
			<p class="center">Ningún comentario aún :(</p>
		{% endfor %}
	</section>

{% endblock %}

{% block end %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('.remove').click(function(e) {
			e.preventDefault();
			alert('Vas a borrar un post!!! Da click otra vez para confirmar.');
			$(this).unbind('click').css({"color" : "rgba(250, 16, 48, 1)", "border-color" : "rgba(250, 16, 48, 1)", });
		});
	});
	</script>
{% endblock end %}