/*
	COLORES
	rgba(0, 65, 55, 1)		//verdeRey
	rgba(0, 168, 88, 1)		//verde
	rgba(39, 40, 34, 1) 	//negro
	rgba(11, 83, 121, 1) 	//azulRey
	rgba(0, 146, 178, 1) 	//azul
	rgba(107, 0, 56, 1)		//morado
	rgba(249, 38, 114, 1)	//rosa
	rgba(250, 16, 48, 1)	//rojo
*/

body{
	font-family: 'Lato', sans-serif;
	font-size: 2em;
}
header{
	background-color: rgba(0, 65, 55, 1);
	padding: 20px 0px;
	margin-top: 0px;
}
h1{
	font-size: 2.6em;
	margin-left: 15px;
	letter-spacing: 2px;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}
h2{
	font-size: 2em;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}

.title a{
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
	color: #fff;
}
.title a:hover{
	text-decoration: none;
	color: rgba(0, 168, 88, 1);
}

.post-title a{
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
	color: #000;
	text-decoration: none;
}
.post-title a:hover{
	text-decoration: none;
	color: rgba(250, 16, 48, 1);
}

.posts{
	padding: 20px 0px;
}
.individual-post{
	-webkit-box-shadow: 0 5px 4px -4px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 5px 4px -4px rgba(0, 0, 0, .75);
	-o-box-shadow: 0 5px 4px -4px rgba(0, 0, 0, .75);
	box-shadow: 0 5px 4px -4px rgba(0, 0, 0, .75);
	padding-bottom: 25px;
	margin-bottom: 50px;
}
.date{
	color: #828282;
	float: right;
	font-size: .8em;
}
.text{
	font-size: 1em;
	text-align: justify;
	text-justify: inter-word;
}
.read-more{
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
	color: rgba(0, 65, 55, 1);
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	padding-left: 1em;
}
.read-more:hover{
	text-decoration: none;
	color: rgba(250, 16, 48, 1);
}

@media screen and (max-width: 767px){
	@media screen and (min-height: 480px){
		body{
			font-size: 2em;
		}
		h1{
			font-size: 2em;
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 992px){
	h1{
		font-size: 2em;
		margin-left: 85px;
	}
	@media screen and (min-height: 911px){
		body{
			font-size: 2.3em;
		}
		h1{
			font-size: 2.4em;
		}
	}
}
@media screen and (min-width: 992px){
	h1{
		font-size: 2em;
		margin-left: 115px;
	}
}